.thanks-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #1f1f1f;
  padding: 20%;
  justify-content: center;
  
  h1{
    color:#e6414f;
    
  }
  h3{
    color: white;
  }
}
#img{
  width: 40vw;
  animation: sello 2s ease-in-out;
  @media screen and (max-width: 480px) {
    width: 75vw;
    margin-bottom: 5vh;
    
  }
}

@keyframes sello{
  0%{width: 200vw}
  100%{width: 40vw}
}
